body {
	background-color:rgb(0, 64, 128);	/*ページ全体の背景色*/
	font-family:serif;
}

h1 {
    font-size: 24px;
    /*
     color: rgb(0, 0, 0);
     */
    color: #ffffff;
	/* background-color: #000000; */
    margin-left: 0px;
}

h2 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 0px;
}

h3 {
    margin-left: 10px;
}
	
p {
    font-size: 16px;
    margin-left: 20px;
    color: #ffffff;
	/* background-color: #000000; */
}

p.level2 {
    margin-left: 0px;
}

p.note {
    margin-left: 4px;
	padding: 4px;
	border: solid 1px /* #0000ff */;
} 

ol {
	/* background-color: #f8dce0; */
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;
	/*
	padding: 10px;
	*/
	padding: 0px 0px 6px 10px;
	/*
	margin-bottom: 20px;
	*/
}

ol.level1 {
    margin-left: 20px;
}

li {
	/* background-color: #88ff00; */
    color: #ffffff;
    margin-left: 10px;
	margin-bottom: 6px;
}

img {
	/* background-color: #88ffff; */
	/* padding: 10px; */  
	
    /* margin: 10px; */
    
    /***/
    margin-right:    10px;
    margin-left:     10px;
    /* margin-bottom:   10px; */
     /***/
}

img.large {
	margin: 10px 0px; /* 上下10px 左右なし */
}

/* Added since 2011.8.8 */
a {
    color: #ffffff;
}
/* 以下、番号付き項目の上側のマージンを少し取りたいと思ったが、うまくいかない */
/*
li.li1 {
    margin-top: 100px;
}
*/
/*
li.level1 {
    margin-top: 100px;
}
*/
/*
ol.level2 {
    margin-left: 20px;
}
*/